<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WeekTwo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    
  </welcome-file-list>
 <!--  <servlet>
  <servlet-name>firstservlet</servlet-name>
  <servlet-class>com.yeditepe.acm412.WelcomeServlet</servlet-class>
  <init-param>
  <param-name>bgColor</param-name>
  <param-value>#FF33FF</param-value>
  </init-param>
  </servlet>
  <servlet-mapping>
  <servlet-name>firstservlet</servlet-name>
  <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  -->
  
</web-app>